body, html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
}

.a-black {
    color:black;
    text-decoration:none;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.fSiswa {
    height: 40px;
    width:auto;
    display: block;
    border-radius: 50%;
}


.hero {
  height: calc(100vh - 55px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('IMAGE/bg-background.jpeg') center center / cover no-repeat;
  background-color: #000;
  padding-bottom: 45px;
}
.hero a {
  color: white;
  text-decoration: none;
  
  padding: 6px;
  border-radius: 10px;
  border: 2px solid white;
  transition: border-color 0.3s ease;
}
.hero a:hover {
  color: #555;
  border-color: #555;
}

.bg-custom {
  background-color: #A8D0E6;
  color: #333;
  /* jangan set position di sini */
}

.navbar-nav .nav-link {
  color: #333;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #fff;
}

.navbar.sticky-top {
  z-index: 1030; /* supaya selalu di atas konten */
}


.footer {
  background-color: #222;
  color: #fff;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}

.footer-top {
  margin-bottom: 10px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 13px;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-menu a:hover {
  color: #00bcd4;
}

#testimoni {
  transition: opacity 0.5s ease-in-out;
}



